@charset "UTF-8";

:root {
   --cor1: #f7f7f7;
   --cor2: #c6c6c6;
   --cor3: #e21;
}

* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
   padding: 0px;
}

body {
   background-color: var(--cor2);
   max-width: 1000px;
   margin: auto;
}

header {
   text-align: center;
   font-size: 24px;
   margin: 15px 0px;
}

a {
   background-color: white;
   color: black;
   font-weight: bold;
   text-decoration: none;
   border-radius: 5px;
   padding: 12px 24px;
   display: flex;
}

p {
   font-size: 20px;
}

nav {
   display: flex;
   place-content: center;
   flex-wrap: wrap;
   gap: 30px;
}

#principal {
   display: grid;
   grid-template-columns: repeat(2, auto);
   margin: 50px 0px;
}

.descricao {
   background-color: white;
   display: grid;
}

img {
   width: 100%;
}