* {
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 40px;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

body {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 20px;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}