@charset "UTF-8";

:root {
   --cor1: #f7f7f7;
   --cor2: #c6c6c6;
   --cor3: #e21;
}

* {
   font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
   padding: 0px;
}

body {
   background-color: var(--cor1);
   margin: auto;
}

header {
   text-align: center;
   font-size: 24px;
   margin: 15px 0px;
}

nav a {
   background-color: white;
   color: black;
   font-weight: bold;
   text-decoration: none;
   border-radius: 5px;
   padding: 12px 24px;
   display: flex;
}

.descricao p {
   line-height: 1.3;
   font-size: 20px;
}

nav {
   display: flex;
   place-content: center;
   flex-wrap: wrap;
   gap: 30px;
   margin-bottom: 50px;
}

#principal {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   max-width: 1000px;
   margin: auto
}

.descricao {
   background-color: white;
   display: grid;
   padding: 40px;
   align-content: center;
   justify-items: end;
   gap: 20px;
   text-align: right;
   position: relative;
}

.detalhe {
   width: 60px;
   height: 4px;
   background-color: #e21;
   position: absolute;
   top: 30px;
   right: -30px;
}

.descricao a {
   background-color: #e21;
   text-transform: uppercase;
   border-radius: 5px;
   padding: 12px 24px;
   text-decoration: none;
   color: black;
}

.bike {
   width: 100%;
   display: block;
}

.vantagens {
   display: grid;
   font-size: 4em;
   color: var(--cor2);
   font-weight: bold;
   text-transform: uppercase;
   padding: 40px;
   text-align: right;
   justify-content: end;
   align-content: center;
}

.informacoes {
   padding: 20px;
   background-color: white;
}

.informacoes p {
   grid-area: 2 / 2;
   display: grid;
   font-size: 20px;
}

.item {
   grid-template-columns: auto 1fr;
   display: grid;
   gap: 10px 20px;
   padding: 20px;
}

footer {
   background-color: white;
   height: 70px;
   display: grid;
   text-align: center;
   align-content: center;
   width: 100%;
   margin-top: 50px;
}